#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
#root > div {
  flex: 1;
}
/*** box sizing border-box for all elements ***/
*,
*::before,
*::after{box-sizing:border-box;}
